
@{
    ViewBag.Title = "F.A.Q";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="@Url.Action("Index")">Inicio</a></li>
                <li><span>F.A.Q.</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <!-- Page Title -->
            <div class="page-title text-center">
                <h1>F.A.Q</h1>
            </div>
            <!-- /Page Title -->
            <div class="row justify-content-center">
                <div class="col-lg-18 col-xl-12">
                    <div class="faq-item-wrap">
                        <div class="faq-item">
                            <h3 class="faq-item-title">¿Tengo l&iacute;mite de compras?</h3>
                            <div class="faq-item-content">
                                <p>
                                    En lo absoluto, usted puede comprar todos los art&iacute;culos presentados en la tienda. Si un art&iacute;culo no posee stock suficiente, y usted
                                    excede el mismo al momento de editar su orden en el carrito de compras, el sistema se encuentra preparado y le mostrar&aacute; un mensaje de advertencia
                                    citando lo anteriormente descrito.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <h3 class="faq-item-title">¿Puedo usar un mismo correo y usuario &uacute;nico m&aacute;s de una vez?</h3>
                            <div class="faq-item-content">
                                <p>
                                    Lo sentimos, no es posible hacer uso de una cuenta que dichos campos se repitan en otra cuenta de usuario.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <h3 class="faq-item-title">¿C&oacute;mo reportar problemas en mi pedido?</h3>
                            <div class="faq-item-content">
                                <p>
                                    Por favor dir&iacute;jase a la secci&oacute;n especial de reportes de problemas de pedidos. O bien <a href="@Url.Action("ReporteProblemasPedidosClientes")">haga clic aqu&iacute;</a>
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <h3 class="faq-item-title">¿Tiempo de espera luego de procesada una compra?</h3>
                            <div class="faq-item-content">
                                <p>
                                    Trabajamos duro cada d&iacute;a para que su orden pueda ser entregada en un m&aacute;ximo de 72 horas, si su orden no ha llegado, por favor comun&iacute;quese con nuestra l&iacute;nea de atenci&oacute;n al cliente.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <h3 class="faq-item-title">¿L&iacute;mite para reportar problemas en mis compras?</h3>
                            <div class="faq-item-content">
                                <p>
                                    Usted posee un m&aacute;ximo de siete d&iacute;as despu&eacute;s que su orden ha sido procesada para reportar problemas con la misma. Si excede este tiempo, lamentamos informarle que ya no ser&aacute; posible
                                    reportarlo por su propia cuenta. En este caso comun&iacute;quese con nuestra l&iacute;nea de atenci&oacute;n al cliente, o bien acerquese a nuestras sucursales. Estamos para servile.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <h3 class="faq-item-title">¿Puedo cancelar un pedido?</h3>
                            <div class="faq-item-content">
                                <p>
                                    Si puede realizarlo, por favor debe ser antes de las 36 horas despu&eacute;s de procesada su orden, caso contrario lamentamos informarle que ya no se aceptan solicitudes de cancelaci&oacute;n y reembolsos.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item">
                            <h3 class="faq-item-title">¿Todos los productos poseen garant&iacute;a?</h3>
                            <div class="faq-item-content">
                                <p>
                                    Todos nuestros productos cuentan con garant&iacute;a establecida por el fabricante. En el caso de los productos que no poseen garant&iacute;a, Arquitectos Almacenes S.A de C.V brinda un per&iacute;odo de siete d&iacute;as de garant&iacute;a.
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

