
@{
    ViewBag.Title = "Listado Pedidos En Proceso";
    Layout = "~/Views/Shared/_Administracion.cshtml";
    string imgsrc = System.Configuration.ConfigurationManager.AppSettings["ServidorFotos"];
    // BLOQUEAR SISTEMA, SI POSEE PROCESO DE RECUPERACION DE CUENTAS ACTIVO
    if (Session["ComprobarRecuperacion"] != null)
    {
        bool HabilitarSistema = Convert.ToBoolean(Session["ComprobarRecuperacion"]);
        if (HabilitarSistema)
        {
            <script>
                location.href = "@Url.Action("CambioCredencialesAcceso","Home")"
            </script>
        }
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="#">Pedidos</a></li>
                        <li class="breadcrumb-item active">Consulta Pedidos En Proceso</li>
                    </ol>
                </div>
                <h4 class="page-title">
                </h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body bootstrap-select-1">
                    <blockquote class="blockquote font-16">
                        <h4 class="mt-0 header-title">Consulta de Pedidos Clientes En Proceso</h4>
                    </blockquote>
                    <div class="alert bg-gradient4 text-white b-round" role="alert">
                        <span class="text-white mb-4 font-16">
                            <span style="font-size: 18px;"><i class="dripicons-lightbulb"></i></span> Estimado(a) @Session["UsuarioUnico"]. A continuaci&oacute;n usted podr&aacute; gestionar todos los pedidos han sido procesados, y estan listos para ser despachados
                            hacia sus destinos finales. <strong> Para filtrar datos, haga uso del buscador, e ingrese el Id de Transacci&oacute;n del pedido a consultar.</strong>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap table-hover" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th><i class="mdi mdi-book-open"></i> Id Transacci&oacute;n</th>
                                        <th><i class="mdi mdi-book-open-page-variant"></i> Nombres</th>
                                        <th><i class="mdi mdi-book-open-page-variant"></i> Apellidos</th>
                                        <th><i class="mdi mdi-book-open-page-variant"></i> Dui</th>
                                        <th><i class="mdi mdi-book-open-page-variant"></i> Tel&eacute;fono</th>
                                        <th><i class="mdi mdi-book-open-page-variant"></i> Estado Pedido</th>
                                        <th><i class="dripicons-gear"></i> Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div><!-- container -->

@section scripts{
    @*----- EJECUCION DE MANTENIMIENTOS AJAX -----*@
<script>
    // VARIABLES GLOBALES
    var tabladata;
    var filaseleccionada;
    tabladata = $("#datatable-buttons").DataTable({
        responsive: true,
        ordering: true,
        dom: 'BfrZltip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        "ajax": {
            url: '@Url.Action("ListarPedidosProcesadosEnProceso", "Administracion")',
                    type: "GET",
                    dataType: "JSON"
                },
                "columns": [
                    { "data": "IdTransaccion" },
                    { "data": "Nombres" },
                    { "data": "Apellidos" },
                    { "data": "Dui" },
                    { "data": "Telefono" },
                    { "data": "EstadoPedido" },
                    {
                        "defaultContent": '<a href="@imgsrc/Administracion/ListadoDetallesComprasProcesadasClientes"><button type="button" class="btn btn-sm btn btn-gradient-pink waves-effect waves-light"><i class="fas fa-search"></i> Ir a Detalles</button></a>',
                        "orderable": true,
                        "searchable": true,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }
    });
</script>

}


