
@{
    ViewBag.Title = "Gestión de Roles de Usuarios";
    Layout = "~/Views/Shared/_Administracion.cshtml";
    // BLOQUEAR SISTEMA, SI POSEE PROCESO DE RECUPERACION DE CUENTAS ACTIVO
    if (Session["ComprobarRecuperacion"] != null)
    {
        bool HabilitarSistema = Convert.ToBoolean(Session["ComprobarRecuperacion"]);
        if (HabilitarSistema)
        {
            <script>
                location.href = "@Url.Action("CambioCredencialesAcceso","Home")"
            </script>
        }
    }
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="#">Usuarios</a></li>
                        <li class="breadcrumb-item active">Mantenimiento Roles de Usuarios</li>
                    </ol>
                </div>
                <h4 class="page-title">
                    <!-- MODAL MANTENIMIENTO USUARIOS -->
                    <button style="background-color: var(--cyan); color: var(--white);" type="button" class="btn btn-animation" data-animation="bounce" data-toggle="modal" onclick="abrirModal()">
                        Registrar Nuevos Roles
                    </button>
                    <div class="modal animation-modal fade" id="exampleModalLong-1" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div style="background: var(--cyan);" class="modal-header">
                                    <h6 style="color: #fff;" class="modal-title" id="exampleModalLongTitle-1">Roles de Usuario</h6>
                                </div>
                                <div class="modal-body">
                                    <span class="badge badge-pill badge-primary"><i class="mdi mdi-alert-outline"></i> Todos los campos son requeridos. <span style="color: var(--red);">(*)</span></span>
                                    @* ID DE USUARIO REGISTRADO **@
                                    <input id="txtid" type="hidden" value="0" />
                                    <div class="row g-2">
                                        @* NOMBRES DE ROL DE USUARIO REGISTRADO **@
                                        <div class="col-sm-12">
                                            <div class="input-group mt-2">
                                            </div>
                                            <label for="txtnombrerol" class="form-label">Nombre Rol de Usuario <span style="color: var(--red);"><strong>(*)</strong></span></label>
                                            <input type="text" class="form-control" id="txtnombrerol" name="txtnombrerol" maxlength="50" placeholder="Ingrese el nombre del rol de usuario..." autocomplete="on">
                                        </div>
                                        @* DESCRIPCION CORTA DE ROL DE USUARIO REGISTRADO **@
                                        <div class="col-sm-12">
                                            <div class="input-group mt-2">
                                            </div>
                                            <label for="txtdescripcionrol" class="form-label">Descripci&oacute;n Rol de Usuario <span style="color: var(--red);"><strong>(*)</strong></span></label>
                                            <textarea class="form-control" id="txtdescripcionrol" name="txtdescripcionrol" maxlength="100" placeholder="Ingrese la descripci&oacute;n..." autocomplete="on"></textarea>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12 mt-2">
                                            @*---- MENSAJES DE ERROR -----*@
                                            <div style="font-size: .7rem;" id="mensajeError" class="alert bg-gradient1 text-white alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                You successfully read this important alert message.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar Ventana</button>
                                    <button type="button" class="btn btn-primary" onclick="Guardar()">Grabar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body bootstrap-select-1">
                    <blockquote class="blockquote font-16">
                        <h4 class="mt-0 header-title">Gesti&oacute;n de Roles de Usuario</h4>
                    </blockquote>
                    <div class="alert bg-gradient4 text-white b-round" role="alert">
                        <span class="text-white mb-4 font-16">
                            <span style="font-size: 18px;"><i class="dripicons-lightbulb"></i></span> Estimado(a) @Session["UsuarioUnico"]. A continuaci&oacute;n usted podr&aacute; gestionar todos los roles de usuario ofrecidos dentro de esta plataforma.
                            Por favor tome en cuenta que por cada rol de usuario, deber&aacute;n realizarse adecuaciones significativas dentro de este portal.
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap table-hover" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th><i class="mdi mdi-book-open"></i> Nombre Rol</th>
                                        <th><i class="mdi mdi-book-open-page-variant"></i> Descripci&oacute;n</th>
                                        <th><i class="dripicons-gear"></i> Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div><!-- container -->

@section scripts{
    @*----- EJECUCION DE MANTENIMIENTOS AJAX -----*@
    <script>
    // VARIABLES GLOBALES
    var tabladata;
    var filaseleccionada;
    tabladata = $("#datatable-buttons").DataTable({
        responsive: true,
        ordering: true,
        dom: 'BfrZltip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        "ajax": {
            url: '@Url.Action("ListarRolesUsuarios", "Administracion")',
                    type: "GET",
                    dataType: "JSON"
                },
                "columns": [
                    { "data": "NombreRolUsuario" },
                    { "data": "DescripcionCortaRolUsuario" },
                    {
                        "defaultContent": '<button type="button" class="btn btn-sm btn btn-gradient-primary waves-effect waves-light btn-editar"><i class="fas fa-edit"></i> Modificar</button>',
                        "orderable": true,
                        "searchable": true,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }
    });

    // MODAL REGISTRAR ROLES DE USUARIOS
    function abrirModal(json) {
        // COMPROBAR SI SE REGISTRA UN NUEVO ROL DE USUARIO, O SE DESEA EDITAR SU INFORMACION
        $("#txtid").val(0);
        // LIMPIAR VALORES SI EXISTEN REGISTROS A MODIFICAR
        $("#txtnombrerol").val("");
        $("#txtdescripcionrol").val("");
        $("#mensajeError").hide(); // OCULTAR MENSAJE DE ERRORES
        // OBTENER DATOS DE ROLES DE USUARIO A MODIFICAR
        if (json != null) {
            $("#txtid").val(json.IdRolUsuario);
            $("#txtnombrerol").val(json.NombreRolUsuario);
            $("#txtdescripcionrol").val(json.DescripcionCortaRolUsuario);
        }
        $("#exampleModalLong-1").modal("show");
    }

    // MODAL MODIFICAR ROLES DE USUARIOS -> SELECCIONAR TODA LA TABLA
    $("#datatable-buttons tbody").on("click", '.btn-editar', function () {
        // SELECCIONAR LA FILA QUE LOS USUARIOS SELECCIONEN
        filaseleccionada = $(this).closest("tr");
        data = tabladata.row(filaseleccionada).data();
        // ABRIR MODAL CON INFORMACION OBTENIDA
        abrirModal(data);
    })

    // GUARDAR NUEVOS ROLES DE USUARIOS
    function Guardar() {
        var Roles = {
            IdRolUsuario: $("#txtid").val(),
            NombreRolUsuario: $("#txtnombrerol").val(),
            DescripcionCortaRolUsuario: $("#txtdescripcionrol").val(),
        }
        jQuery.ajax({
            url: '@Url.Action("GuardarRolesUsuario", "Administracion")',
            type: "POST",
            data: JSON.stringify({ objeto: Roles }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $(".modal-body").LoadingOverlay("hide"); // OCULTAR PANTALLA DE ESPERA
                // COMPROBAR SI SE AGREGA O EDITA ROLES DE USUARIOS --> NUEVOS ROLES USUARIOS NUEVOS
                if (Roles.IdRolUsuario == 0) {// NUEVO ROL DE USUARIO
                    if (data.resultado != 0) {
                        Roles.IdRolUsuario = data.resultado;
                        // IMPRIMIR EN TABLA NUEVO REGISTRO
                        tabladata.row.add(Roles).draw(false);
                        // OCULTAR FORMULARIO
                        $("#exampleModalLong-1").modal("hide");
                    } else {
                        alertify.logPosition("top right");
                        alertify.error("<strong><i class='ion-alert-circled'></i> Campo incompleto</strong> " + data.mensaje);
                    }

                } else {// EDITAR ROL DE USUARIO
                    if (data.resultado) {
                        tabladata.row(filaseleccionada).data(Roles).draw(false);
                        filaseleccionada = null;
                        // OCULTAR FORMULARIO
                        $("#exampleModalLong-1").modal("hide");
                    } else {
                        alertify.logPosition("top right");
                        alertify.error("<strong><i class='ion-alert-circled'></i> Campo incompleto</strong> " + data.mensaje);
                    }

                }
                //console.log(data);
            },
            error: function (data) {
                $(".modal-body").LoadingOverlay("hide"); // OCULTAR PANTALLA DE ESPERA
                $("#mensajeError").text("Lo sentimos, en estos momentos no podemos procesar tu solicitud.");
                $("#mensajeError").show(); // MOSTRAR MENSAJES DE ERRORES
            },
            // REALIZAR EJECUCION DURANTE LA EJECUCION DEL PROCESAMIENTO DATOS FORMULARIOS --> MOSTRAR PANTALLA DE ESPERA
            beforeSend: function () {
                $(".modal-body").LoadingOverlay("show", {
                    imageResizeFactor: 2,
                    text: "Espere un momento...",
                    size: 12
                })
            }
        });
    }
    </script>

}
